# ========================================
# Dockerignore for ml-ids-analyzer
# ========================================

# Bytecode & build artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtualenvs & local env
.venv/
env/
.env
config/.env
docker/.env

# Tests, notebooks & caches
tests/
.pytest_cache/
.ipynb_checkpoints/
notebooks/

# Outputs & raw data
outputs/
data/
layout.txt

# IDE & metadata
.vscode/
.idea/
.DS_Store
Thumbs.db

# Git & CI configs
.git/
.github/
.gitignore
docker-compose.yml

# Docs (if not needed at runtime)
docs/